<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<th:block layout:fragment="content">
    <div class="mt-4">
        <i class="fa-solid fa-file-lines fa-2xl"> 게시글 보기</i>
        <hr>
    </div>

    <div class="row mt-5 mb-3">
        <div class="row offset-2 col-4">
            <button type="button" class="btn btn-light col-4" id="prebtn" name="prebtn">
                <i class="fa fa-chevron-left"> 이전 글</i>
            </button>
            <button type="button" class="btn btn-light col-4" id="nextbtn" name="nextbtn">
                <i class="fa fa-chevron-right"> 다음 글</i>
            </button>
        </div>

        <div class="col-4 text-end">
            <th:block th:if="${not #strings.isEmpty(session.UID)}">
                <button type="button" class="btn btn-success" id="newbtn" name="newbtn">
                    <i class="fa fa-plus-circle"> 새 글 쓰기</i>
                </button>
            </th:block>
        </div>

        <div class="row offset-2 col-8 mt-3">
            <table>
                <tr><th class="vtit" colspan="2" th:text="${pds.title}">&nbsp;</th></tr>
                <tr class="vinfo">
                    <td class="text-start" th:text="${pds.userid}">&nbsp;</td>
                    <td class="text-end" th:text="|${pds.regdate} / ${pds.thumbs} / ${pds.views}|">&nbsp;</td>
                </tr>
                <tr>
                    <td class="vcont" colspan="2" th:text="${pds.content}">
                    </td>
                </tr>
                <tr>
                    <td class="vinfo" colspan="2">
                        <img th:src="|/assets/img/ftype/${attach.picext}.png|">
                        <a th:href="|/pds/down?pno=${attach.getPno()}|" th:text="${attach.fname}"></a>
                        <span th:text="|(${attach.fsize} KB / ${attach.fdown}회 다운로드)|"></span>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="bno" name="bno" value="">
        </div>

        <div class="row offset-2 mt-5">
            <div class="row col-4">
        &nbsp;        <th:block th:if="${session.UID eq pds.userid}">
                    <button type="button" class="btn btn-warning col-4"
                            id="updbtn" name="updbtn">
                        <i class="fa fa-pencil">수정하기</i>
                    </button>
                    <button type="button" class="btn btn-danger col-4"
                            id="rmvbtn" name="rmvbtn">
                        <i class="fa fa-trash-o">삭제하기</i>
                    </button>
                </th:block>
            </div>
            <div class="col-4 text-end">
                <button type="button" class="btn btn-light" id="listbtn" name="listbtn">
                    <i class="fa fa-list"> 목록으로</i>
                </button>
            </div>
        </div>

        <div class="offset-2 mt-5">
            <i class="fa-solid fa-comments fa-xl"> 나도 한마디 </i>
        </div>

        <div class="row mt-3">
            <div class="offset-2 col-8">
                <table class="table" style="border-top: 3px solid black; border-bottom: 3px solid black">
                        <tr th:each="rp : ${rplist}" style="border: white">
                            <th:block th:if="${rp.rpno eq rp.refno}">
                                <!--댓글 -->
                                <td style="width:25%"><h4 th:text="${rp.userid}"></h4></td>
                                <td>
                                    <div style="background: yellow; padding: 5px">&nbsp;
                                &nbsp;        <th:block th:if="${session.UID eq pds.userid}">
                                            <span style="float: right">[수정] / [삭제]</span>
                                        </th:block>
                                        <span style="float: right; padding-right: 3px;" th:text="${rp.regdate}"></span>
                                         </div>
                                    <p style="padding: 5px 0" th:text="${rp.reply}"></p>
                                </td>
                            </th:block>
                            <th:block th:if="${rp.rpno ne rp.refno}">
                                <!--대댓글-->
                                <td style="width:25%"><h4>&nbsp;</h4></td>
                                <td>
                                    <div style="background: lime; padding: 5px">
                                        <span style="font-weight: bold" th:text="${rp.userid}"></span>
                                &nbsp;        <th:block th:if="${session.UID eq pds.userid}">
                                            <span style="float: right">[수정] / [삭제]</span>
                                        </th:block>
                                        <span style="float: right; padding-right: 3px;" th:text="${rp.regdate}"></span>
                                    </div>
                                    <p style="padding: 5px 0" th:text="${rp.reply}"></p>
                                </td>
                            </th:block>
                        </tr>
                </table>
            </div>
        </div>
&nbsp;        <th:block th:if="${session.UID eq pds.userid}">
            <div class="row mt-3">
            <div class="offset-2 col-8">
                <form id="rpfrm" name="rpfrm" class="bg-light p-3">
                    <div class="row align-items-center">
                        <label class="form-label col-2 align-center" for="reply">댓글 쓰기</label>
                        <div class="col-8">
                            <textarea class="form-control" id="reply" name="reply" rows="3"
                            style="resize: none;"></textarea>
                        </div>
                        <button type="button" class="btn btn-secondary col-2">
                            <i class="fa fa-commenting"> 댓글 입력</i>
                        </button>

                    </div>
                </form>
            </div>
        </div>
        </th:block>
    </div>

    <script src="/assets/js/pds.js"></script>

</th:block>
</html>